$coral: #ffb499;
$aqua: #ccffff;

body {
  // NOTE: Don't optimize into a single 'background' property.
  background-image: url("/images/border-coral.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-color: $aqua;
  color: black;
  font-family: 'Dancing Script', serif;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.site-logo {
  color: black;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;
  a {
    color: black;
  }
}

.nav-menu {
  padding-top: 20px;
  text-align: center;
  .menu-items {
    list-style: none;
    li {
      display: inline;
      padding-right: 80px;
      a {
        color: black;
        font-size: 40px;
      }
      a:hover {
        color: $coral;
      }
    }
  }
}
