<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>

    <!-- components -->
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/components/bootstrap-social/bootstrap-social.css" />

    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

    <!-- assets -->
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

  </head>
  <body>
  <div class="site-logo">
    <a href="/">Convictions & Cookery</a>
  </div>
  <nav class="nav-menu" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="row">
        <ul class="menu-items">
          <li><a href="/">home</a></li>
          <li><a href="/posts/faith/">faith</a></li>
          <li><a href="/posts/family/">family</a></li>
          <li><a href="/posts/food/">food</a></li>
          <li><a href="/posts/fun/">fun</a></li>
          <li><a href="/contact/">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </body>
</html>
